.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    /*border: 1px solid gray;*/
    /*border-radius: 4px;*/
    /*background-color: white;*/

    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #14213d;
    background: transparent;
    background-clip: padding-box;
    border-bottom: 1px solid #999;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    /*box-shadow: 0 1px 3px 0 #e6ebf1;*/
    /*-webkit-transition: box-shadow 150ms ease;*/
    /*transition: box-shadow 150ms ease;*/
}

.StripeElement--focus {
    color: #14213d;
    background: transparent;
    border-bottom: 2px solid #14213d;;
    outline: 0;
    box-shadow: none;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-errors{
    font-size: 80%;
    color: #e3342f;
}

/*.form-control::placeholder {*/
/*    color: #6c757d;*/
/*    opacity: 1;*/
/*}*/
