/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i');

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/


/* @import url(all.css); */

@import url(bootsnav.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

header {
    color: #666;
    font-size: 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.80857
}

header a {
    color: #1f1f1f;
    text-decoration: none!important;
    outline: 0!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

h6 {
    letter-spacing: 0;
    font-weight: 400;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: 400;
    line-height: 120%!important;
    color: #1f1f1f;
    margin: 0
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: 0
}

.btn,
a {
    text-decoration: none!important;
    outline: 0!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent!important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

button:focus {
    outline: 0;
    box-shadow: none
}

:focus {
    outline: 0
}

p {
    margin: 0
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0!important
}

.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.bootstrap-select .dropdown-toggle:focus {
    box-shadow: none!important
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #d33b33;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    font-size: 30px
}

.main-top {
    background: #010101;
    padding: 10px 0
}

.custom-select-box {
    float: right;
    width: 95px;
    margin-left: 20px
}

.custom-select-box .form-control {
    background: 0 0;
    border: none
}

.custom-select-box .bootstrap-select .btn-light {
    padding: 4px;
    font-size: 14px;
    background: #d33b33;
    color: #fff;
    border: none;
    border-radius: 0
}

.custom-select-box .bootstrap-select .btn-light span {
    padding: 2px;
    line-height: 15px
}

.dropdown-toggle::after {
    margin-left: -24px
}

.custom-select-box .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 13px;
    right: 10px
}

.bootstrap-select.btn-group .dropdown-menu {
    border: none;
    padding: 0;
    border-radius: 0
}

.our-link {
    float: right
}

.our-link ul li {
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 10px;
    line-height: 14px
}

.our-link ul {
    line-height: 30px
}

.our-link ul li a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px
}

.our-link ul li a:hover {
    color: #d33b33
}

.our-link ul li:last-child {
    border: none
}

.search a {
    color: #d33b33
}

.attr-nav>ul>li>a:hover {
    color: #d33b33
}

nav.navbar.bootsnav ul.nav>li>a {
    margin: 0
}

.attr-nav>ul>li>a {
    padding: 28px 15px
}

ul.cart-list>li.total>.btn {
    border-bottom: solid 1px #cfcfcf!important;
    color: #010101;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
    color: #fff
}

@media (min-width:1024px) {
    nav.navbar ul.nav>li>a {
        padding: 30px 15px;
        font-weight: 600
    }
    nav.navbar .navbar-brand {
        margin-top: 0
    }
    nav.navbar .navbar-brand {
        margin-top: 0
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        border-top: solid 5px
    }
    nav.navbar-brand-top .navbar-brand {
        margin: 10px!important
    }
}

@media (max-width:992px) {
    nav.navbar .navbar-brand {
        margin-top: 0;
        position: relative;
        top: -2px
    }
    nav.navbar .navbar-brand img.logo {
        width: 160px
    }
    .attr-nav>ul>li>a {
        padding: 16px 15px 15px
    }
    nav.navbar.navbar-mobile ul.nav>li>a {
        padding: 15px 15px
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu>li>a {
        padding-right: 15px!important;
        padding-top: 15px!important;
        padding-bottom: 15px!important
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
        padding-right: 30px!important;
        padding-top: 13px!important;
        padding-bottom: 13px!important
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
        padding-top: 13px!important;
        padding-bottom: 13px!important
    }
}

nav.navbar.bootsnav ul.nav>li>a {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    color: #010101;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 30px
}

nav.navbar.bootsnav ul.nav li.active>a {
    color: #d33b33
}

nav.navbar.bootsnav ul.nav li.active>a:hover {
    color: #d33b33
}

nav.navbar.bootsnav ul.nav li>a:hover {
    color: #d33b33
}

nav.navbar.bootsnav ul.nav li.megamenu-fw>a:hover {
    color: #d33b33
}

.dropdown-toggle::after {
    display: none
}

nav.navbar.bootsnav ul.navbar-nav li.dropdown ul.dropdown-menu li a {
    display: block
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    border: solid 1px #e0e0e0;
    left: auto
}

.cart-list h6 a {
    font-size: 16px;
    font-weight: 700
}

.cart-list h6 a:hover {
    color: #d33b33
}

ul.cart-list p .price {
    font-weight: 400
}

.col-menu .title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase
}

.hvr-hover {
    display: inline-block;
    vertical-align: middle;
    /* -webkit-transform: perspective(1px) translateZ(0); */
    /* transform: perspective(1px) translateZ(0); */
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #14213d;
    /* -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s; */
    border-radius: 0;
    box-shadow: none;
    border-radius: 2px;
}

.hvr-hover:hover {
    background-color: #fad02c;
    color: #14213d !important;
}


/* .hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #010101;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-hover:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: #fff
} */

ul.cart-list>li.total>.btn:hover {
    color: #fff
}

.cart-box {
    margin-top: 40px;
    background: #fff
}

.top-search .input-group-addon {
    line-height: 40px
}

.top-search input.form-control {
    color: #fff
}

.all-title-box {
    background: url(../images/all-bg-title.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0;
    position: relative
}

.all-title-box::before {
    background: rgba(0, 0, 0, .6);
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.all-title-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 30px
}

.about-box-main {
    padding: 70px 0
}

.about-box-main p {
    padding-bottom: 20px
}

.search-product {
    position: relative
}

.search-product input[type=text] {
    background: #f6f6f6;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: #000;
    height: 50px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%;
    outline: 0
}

.search-product .form-control::-moz-placeholder {
    color: #000;
    opacity: 1
}

.search-product button {
    background: #010101;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 0;
    padding: 12px 15px;
    top: 0;
    line-height: 27px;
    border: none;
    cursor: pointer;
    height: 100%
}

.search-product button:hover {
    background: #d33b33
}

.list-group-item {
    border: none;
    padding: 5px 20px;
    font-size: 14px
}

.list-group-item[data-toggle=collapse]::after {
    width: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 12px);
    right: 10px;
    content: '';
    -webkit-transition: top .2s, -webkit-transform .2s;
    transition: top .2s, -webkit-transform .2s;
    transition: transform .2s, top .2s;
    transition: transform .2s, top .2s, -webkit-transform .2s;
    font-family: FontAwesome;
    content: "\f105"
}

.brand-box {
    display: inline-block;
    width: 100%;
    height: 259px;
    position: relative
}

.nav>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle
}

.list-view-box {
    margin-bottom: 30px
}

.cart-box-main {
    padding: 70px 0
}

.my-account-box-main {
    padding: 70px 0
}

.shopping-box a {
    font-size: 18px;
    color: #fff;
    border: none;
    padding: 10px 20px
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none
}

.account-box {
    text-align: center;
    background: #fff;
    padding: 30px;
    border: 1px solid #010101
}

.bottom-box {
    border-top: 1px solid #eee;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 15px
}

.bottom-box .account-box {
    min-height: 205px
}

.account-box {
    border: 2px solid #010101;
    margin-top: 15px
}

.my-account-page a {
    color: #010101
}

.my-account-page a:hover {
    color: #d33b33
}

.service-icon i {
    font-size: 34px
}

.service-icon a {
    background: rgba(0, 53, 68, .9);
    -webkit-transition: -webkit-transform ease-out .1s, background .2s;
    -moz-transition: -moz-transform ease-out .1s, background .2s;
    transition: transform ease-out .1s, background .2s
}

.service-icon a {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 15px 0;
    width: 90px;
    height: 90px;
    line-height: 110px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff
}

.service-icon a::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
    opacity: 0;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

.service-icon a:hover::after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms
}

.service-icon a:hover {
    background: rgba(251, 183, 20, 1);
    -webkit-transform: scale(.93);
    -moz-transform: scale(.93);
    -ms-transform: scale(.93);
    transform: scale(.93);
    color: #fff
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: .3
    }
    40% {
        opacity: .5;
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, .5)
    }
    100% {
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, .5);
        -webkit-transform: scale(1.5);
        opacity: 0
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: .3
    }
    40% {
        opacity: .5;
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, .5)
    }
    100% {
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, .5);
        -moz-transform: scale(1.5);
        opacity: 0
    }
}

@keyframes sonarEffect {
    0% {
        opacity: .3
    }
    40% {
        opacity: .5;
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, .5)
    }
    100% {
        box-shadow: 0 0 0 2px rgba(0, 53, 68, .1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(0, 53, 68, .5);
        transform: scale(1.5);
        opacity: 0
    }
}

.wishlist-box-main {
    padding: 70px 0
}

.contact-box-main {
    padding: 70px 0
}

.contact-form-right {
    padding: 20px
}

.contact-form-right h2 {
    font-size: 24px;
    font-weight: 700
}

.contact-form-right p {
    margin-bottom: 15px
}

.contact-form-right .form-group .form-control::-moz-placeholder {
    color: #999
}

.contact-form-right .form-group .form-control {
    border-radius: 0;
    min-height: 40px
}

.contact-form-right .form-group {
    margin-bottom: 30px;
    position: relative
}

.contact-form-right .form-group .form-control:focus {
    border: 1px solid #d33b33;
    box-shadow: none
}

.shop-detail-box-main {
    padding: 70px 0
}